{% extends "base.html" %}

{% block body%}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Error Inesperado</h1>
    </div>

    <!-- Content Row -->
    <div >
      <div class="w-auto p-3">
        <p>Ha ocurrido un error inesperado, por favor reinicia la aplicación y vuelve a intentarlo, en caso de reiterarse el error, contactenos a support@growmer.com </p>
      </div>
    </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}